body {
    display: grid;
    justify-content: center;
    background-color:honeydew;
}

header {
    display: flex;
    height: 25vh;
}

.left {
    width: 30%;
    background-color: azure;
    box-sizing: border-box;
}

.right {
    width: 70%;
    background-color: floralwhite;
}

footer {
    background: gray;
    color: white;
    height: 5vh;
    text-align: center;
    align-content: center;
}